html, body {
	height: 100%;
}
body {
	margin: 10% 0 0 10%;
	color: #333;
}

h1 {
	font-family: Fira Sans, sans-serif;
	font-size: 3em;
	font-weight: 600;
}

p {
	font-family: Heebo, sans-serif;
	font-weight: 300;
	font-size: 1.4em;
}